#container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: hsl(205, 15%, 42%);
    margin: 0 auto;
    top: 20px;
    right: 120px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(100, 90, 90, 0.2), 0 6px 20px 0 rgba(100, 90, 90, 0.19);
}

#keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 20%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty, .operator{
    background-color: #bbbbbb;
}

.number, .operator {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0];
}